/*------------------------------------
  Default Typo
------------------------------------*/
html {
  font-size: 14px;
}

body {
  font-weight: 400;
  font-size: 1rem;
  font-family: "Roboto", Arial, sans-serif;
  line-height: 1.6;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -moz-font-feature-settings: "liga", "kern";
  text-rendering: optimizelegibility;
}

/* Main navigation */
.navbar-nav .nav-item .nav-link:hover,
.navbar-nav .nav-item.active .nav-link {
  font-weight: 700;
}
