/*
For colors, than white in dark themes and vice versa
Use color from standart H
*/
h2.g-theme-light-color-dark, h4.g-theme-light-color-dark {color: #000;}


/* Fix for complex button with icon. Need no bg color */
.u-btn-inset > .u-btn-darkgray {
	background-color: transparent;
}

/* for overwrite P color */
.g-color-primary,
.g-color-primary *,
.g-color-primary p {
	color: #6ab8ee;
}







/* ***********
THEMES CUSTOM COLORS
*********** */

.landing-block-node-menu-list.navbar-nav .nav-item .nav-link:hover, .landing-block-node-menu-list.navbar-nav .nav-item.active .nav-link {
	color: #6ab8ee !important;
}

.g-bg-white .landing-block-node-menu-list.navbar-nav .nav-item .nav-link-color-hover:hover {
	background-color: #6ab8ee !important;
}

.g-bg-white .landing-block-node-menu-list.navbar-nav .nav-item.active .nav-link-color-hover {
	background-color: #6ab8ee !important;
}

.g-color-primary--hover:hover * {
	color: #6ab8ee !important;
}

.g-bg-gray-dark-v1 .navbar-nav .nav-item .nav-link {
	color: #fff;
}

.u-btn-inset::before {
	border-color: #6ab8ee !important;
}



/* B24 BUTTON */
.landing-b24button-use-style .b24-widget-button-popup, .landing-b24button-use-style .b24-widget-button-popup-triangle, .landing-b24button-use-style .b24-widget-button-pulse {
	border-color: #6ab8ee !important;
}

.landing-b24button-use-style .b24-widget-button-inner-block, .landing-b24button-use-style .b24-widget-button-inner-mask {
	background-color: #6ab8ee !important;
}

.landing-b24button-use-style .b24-widget-button-social-item {
	background-color: #6ab8ee !important;
}



/* RESTAURANT */
.u-theme-restaurant-shadow-v1 {
	box-shadow: inset 2px 2px 2px #53adeb;
}

/* BUTTON HOVERS */

.u-btn-white:hover {
	border-color: white;
	background-color: white;
}

.u-btn-black:hover {
	border-color: #1a1a1a !important;
	background-color: #1a1a1a !important;
}

.u-btn-darkgray:hover {
	border-color: #4d4d4d !important;
	background-color: #4d4d4d !important;
}

.u-btn-red:hover {
	border-color: #ff3333 !important;
	background-color: #ff3333 !important;
}

.u-btn-lightred:hover {
	border-color: #ec7568 !important;
	background-color: #ec7568 !important;
}

.u-btn-darkred:hover {
	border-color: #d01337 !important;
	background-color: #d01337 !important;
}

.u-btn-blue:hover {
	border-color: #5faee3 !important;
	background-color: #5faee3 !important;
}

.u-btn-indigo:hover {
	border-color: #5b7cbd !important;
	background-color: #5b7cbd !important;
}

.u-btn-purple:hover {
	border-color: #b48fd8 !important;
	background-color: #b48fd8 !important;
}

.u-btn-darkpurple:hover {
	border-color: #8157cb !important;
	background-color: #8157cb !important;
}

.u-btn-pink:hover {
	border-color: #ed4a82 !important;
	background-color: #ed4a82 !important;
}

.u-btn-orange:hover {
	border-color: #ea984e !important;
	background-color: #ea984e !important;
}

.u-btn-deeporange:hover {
	border-color: #fe7b51 !important;
	background-color: #fe7b51 !important;
}

.u-btn-yellow:hover {
	border-color: #efd34c !important;
	background-color: #efd34c !important;
}

.u-btn-aqua:hover {
	border-color: #57dfeb !important;
	background-color: #57dfeb !important;
}

.u-btn-cyan:hover {
	border-color: #0ae4ff !important;
	background-color: #0ae4ff !important;
}

.u-btn-teal:hover {
	border-color: #22e3be !important;
	background-color: #22e3be !important;
}

.u-btn-brown:hover {
	border-color: #b09980 !important;
	background-color: #b09980 !important;
}

.u-btn-bluegray:hover {
	border-color: #6f7885 !important;
	background-color: #6f7885 !important;
}

.u-btn-facebook:hover {
	border-color: #4c70ba !important;
	background-color: #4c70ba !important;
}

.u-btn-twitter:hover {
	border-color: #22c2ff !important;
	background-color: #22c2ff !important;
}