/*------------------------------------
  Default Typo
------------------------------------*/
html {
  font-size: 14px;
}

body {
  font-weight: 400;
  font-size: 1rem;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  line-height: 1.6;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -moz-font-feature-settings: "liga", "kern";
  text-rendering: optimizelegibility;
}

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
}

/* Revolution slider */
.tp-caption.NotGeneric-Title,
.NotGeneric-Title,
.tp-caption.NotGeneric-SubTitle,
.NotGeneric-SubTitle,
.tp-caption.NotGeneric-CallToAction,
.NotGeneric-CallToAction {
  font-family: "Open Sans", sans-serif;
}
