

/* Start:/local/templates/.default/components/bitrix/news/matlab_news/bitrix/news.detail/.default/style.css?1531382754155*/
div.news-detail
{
	word-wrap: break-word;
}
div.news-detail img.detail_picture
{
	float:left;
	margin:0 8px 6px 1px;
}
.news-date-time
{
	color:#486DAA;
}

/* End */
/* /local/templates/.default/components/bitrix/news/matlab_news/bitrix/news.detail/.default/style.css?1531382754155 */
