

/* Start:/local/templates/.default/components/bitrix/news/matlab_events/bitrix/news.list/.default/style.css?1531382754150*/
div.news-list
{
	word-wrap: break-word;
}
div.news-list img.preview_picture
{
	float:left;
	margin:0 4px 6px 0;
}
.news-date-time {
	color:#486DAA;
}

/* End */


/* Start:/local/templates/.default/components/bitrix/news.detail/speaker_event_detail/style.css?1531382756155*/
div.news-detail
{
	word-wrap: break-word;
}
div.news-detail img.detail_picture
{
	float:left;
	margin:0 8px 6px 1px;
}
.news-date-time
{
	color:#486DAA;
}

/* End */
/* /local/templates/.default/components/bitrix/news/matlab_events/bitrix/news.list/.default/style.css?1531382754150 */
/* /local/templates/.default/components/bitrix/news.detail/speaker_event_detail/style.css?1531382756155 */
