/*------------------------------------
  Default Typo
------------------------------------*/
html {
  font-size: 14px;
}

body {
  font-weight: 400;
  font-size: 1rem;
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  line-height: 1.6;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -moz-font-feature-settings: "liga", "kern";
  text-rendering: optimizelegibility;
}

body {
  font-size: 0.92857rem;
}

/* Tabs */
@media (min-width: 768px) {
  [class*="u-nav-v5"].u-nav-primary .nav-link {
    font-size: 0.92857rem;
  }
}
