/*
For colors, than white in dark themes and vice versa
Use color from standart H
*/
h2.g-theme-light-color-dark, h4.g-theme-light-color-dark {color: #000;}


/* Fix for complex button with icon. Need no bg color */
.u-btn-inset > .u-btn-darkgray {
	background-color: transparent;
}

/* for overwrite P color */
.g-color-primary,
.g-color-primary *,
.g-color-primary p {
	color: #333;
}








/* ***********
THEMES CUSTOM COLORS
*********** */

.landing-block-node-menu-list.navbar-nav .nav-item .nav-link:hover, .landing-block-node-menu-list.navbar-nav .nav-item.active .nav-link {
	color: #999 !important;
}

.g-bg-white.js-header-change-moment .navbar-nav .nav-item .nav-link:hover, .g-bg-white.js-header-change-moment .navbar-nav .nav-item.active .nav-link {
	color: #999 !important;
}

.g-bg-white .navbar-nav .nav-item .nav-link {
	color: #333 !important;
}

.g-bg-white .landing-block-node-menu-list.navbar-nav .nav-item .nav-link-color-hover:hover {
	background-color: #333 !important;
	color: #fff !important;
}

.g-bg-white .landing-block-node-menu-list.navbar-nav .nav-item.active .nav-link-color-hover {
	background-color: #333 !important;
	color: #fff !important;
}

.g-brd-primary {
	border-color: #999 !important;
}

.g-theme-business-bg-blue-dark-v1 p {
	color: #999 !important;
}

.g-theme-business-bg-blue-dark-v2 p {
	color: #999 !important;
}

.g-theme-business-bg-blue-dark-v1 .g-color-primary, .g-theme-business-bg-blue-dark-v2 .g-color-primary {
	color: #999 !important;
}

.g-theme-business-bg-blue-dark-v1 .g-theme-business-bg-blue-dark-v2 .g-color-gray-light-v2 {
	color: #fff !important;
}

.g-bg-black-opacity-0_7--after .g-color-primary, .g-bg-black-opacity-0_7--after .u-btn-darkgray .g-color-primary {
	color: #999 !important;
}

.g-bg-black-opacity-0_7--after .g-color-white-opacity-0_5 p {
	color: #999 !important;
}

.u-btn-darkgray .g-color-primary {
	color: #ccc !important;
}

.u-btn-primary {
	color: #000 !important;
	background-color: #ccc !important;
}

.u-btn-primary:hover, .u-btn-primary.active {
	border-color: #ddd !important;
	background-color: #ddd !important;
	color: #000 !important;
}

.u-btn-primary:focus {
	color: #000 !important;
}

.slick-slide .g-color-white .g-bg-transparent--hover:hover {
	color: #fff !important;
	background-color: transparent !important;
}

.g-color-gray-dark-v5 .g-bg-black .g-color-white .g-color-primary {
	color: #fff !important;
}

.g-bg-black-opacity-0_5--after .g-mb-10 .g-bg-primary {
	background-color: #ccc !important;
}

.g-bg-black-opacity-0_7--after .g-bg-primary .landing-block-node-leftblock-subtitle {
	color: #ccc !important;
}

.g-bg-black-opacity-0_7--after .g-bg-primary .g-color-black-opacity-0_5 {
	color: #ccc !important;
}

.g-bg-black-opacity-0_7--after .g-bg-primary .landing-block-node-leftblock-title {
	color: #fff !important;
}

.g-bg-black-opacity-0_7--after .g-color-white .landing-block-node-text .mb-0 {
	color: #ccc !important;
}

 .g-bg-black-opacity-0_7--after .g-color-white .g-color-primary {
	 color: #ccc !important;
 }

.g-bg-black-opacity-0_7--after .g-mb-90 .landing-block-node-card .landing-block-node-card-text p, .g-bg-black-opacity-0_7--after .g-color-primary i {
	color: #ccc !important;
}

.g-bg-primary-opacity-0_9--after .slick-slider .u-arrow-v1:before {
	color: #ccc !important;
}

.g-theme-architecture-bg-blue-dark-v3 .g-color-primary i, .g-theme-architecture-bg-blue-dark-v4 .g-color-primary i {
	color: #ccc !important;
}

.g-color-white-opacity-0_8, .g-color-white-opacity-0_8 *, .g-color-white-opacity-0_8 p {
	color: #999 !important;
}

.slick-slider .g-bg-gray-light-v3:hover {
	color: #fff !important;
}

.slick-slider .slick-slide .g-pos-rel .g-color-white i {
	color: #ccc !important;
}

.slick-slider .slick-slide .g-parent .g-color-primary {
	color: #fff !important;
}

.slick-slider .slick-slide .g-bg-black-opacity-0_5--after .landing-block-node-card-price {
	color: #ccc !important;
}

.g-theme-architecture-bg-blue-dark-v3 .landing-block-node-card-link, .g-theme-architecture-bg-blue-dark-v4 .landing-block-node-card-link {
	color: #999 !important;
}

.g-color-primary--hover:hover * {
	color: #333 !important;
}

.g-bg-gray-dark-v1 .navbar-nav .nav-item .nav-link {
	color: #fff !important;
}

.g-bg-gray-dark-v1 .navbar-nav .nav-item .nav-link:hover, .g-bg-gray-dark-v1 .navbar-nav .nav-item.active .nav-link {
	color: #a4a4a4 !important;
}

.u-btn-inset::before {
	border-color: #ccc !important;
}



/* B24 BUTTON */
.landing-b24button-use-style .b24-widget-button-popup, .landing-b24button-use-style .b24-widget-button-popup-triangle, .landing-b24button-use-style .b24-widget-button-pulse {
	border-color: #999 !important;
}

.landing-b24button-use-style .b24-widget-button-inner-block, .landing-b24button-use-style .b24-widget-button-inner-mask {
	background-color: #999 !important;
}

.landing-b24button-use-style .b24-widget-button-social-item {
	background-color: #999 !important;
}



/* RESTAURANT */
.u-theme-restaurant-shadow-v1 {
	box-shadow: inset 2px 2px 2px #262626;
}

/* BUTTON HOVERS */

.u-btn-white:hover {
	border-color: white;
	background-color: white;
}

.u-btn-black:hover {
	border-color: #1a1a1a !important;
	background-color: #1a1a1a !important;
}

.u-btn-darkgray:hover {
	border-color: #4d4d4d !important;
	background-color: #4d4d4d !important;
}

.u-btn-red:hover {
	border-color: #ff3333 !important;
	background-color: #ff3333 !important;
}

.u-btn-lightred:hover {
	border-color: #ec7568 !important;
	background-color: #ec7568 !important;
}

.u-btn-darkred:hover {
	border-color: #d01337 !important;
	background-color: #d01337 !important;
}

.u-btn-blue:hover {
	border-color: #5faee3 !important;
	background-color: #5faee3 !important;
}

.u-btn-indigo:hover {
	border-color: #5b7cbd !important;
	background-color: #5b7cbd !important;
}

.u-btn-purple:hover {
	border-color: #b48fd8 !important;
	background-color: #b48fd8 !important;
}

.u-btn-darkpurple:hover {
	border-color: #8157cb !important;
	background-color: #8157cb !important;
}

.u-btn-pink:hover {
	border-color: #ed4a82 !important;
	background-color: #ed4a82 !important;
}

.u-btn-orange:hover {
	border-color: #ea984e !important;
	background-color: #ea984e !important;
}

.u-btn-deeporange:hover {
	border-color: #fe7b51 !important;
	background-color: #fe7b51 !important;
}

.u-btn-yellow:hover {
	border-color: #efd34c !important;
	background-color: #efd34c !important;
}

.u-btn-aqua:hover {
	border-color: #57dfeb !important;
	background-color: #57dfeb !important;
}

.u-btn-cyan:hover {
	border-color: #0ae4ff !important;
	background-color: #0ae4ff !important;
}

.u-btn-teal:hover {
	border-color: #22e3be !important;
	background-color: #22e3be !important;
}

.u-btn-brown:hover {
	border-color: #b09980 !important;
	background-color: #b09980 !important;
}

.u-btn-bluegray:hover {
	border-color: #6f7885 !important;
	background-color: #6f7885 !important;
}

.u-btn-facebook:hover {
	border-color: #4c70ba !important;
	background-color: #4c70ba !important;
}

.u-btn-twitter:hover {
	border-color: #22c2ff !important;
	background-color: #22c2ff !important;
}