/* Add here all your css styles (customizations) */

li.g-brd-bottom:last-child {
	border-bottom: none!important;
}


/* xl
   Large devices more than 992px
 */
@media (min-width: 992px) {
	.l-d-lg-none {
		display: none;
	}
}

/* md
   Medium devices less than 1200px and more than 576px
*/
@media (max-width: 992px) and (min-width: 575px) {
	.l-d-md-none {
		display: none;
	}
}

/* xs
   Extra small devices less than 576px
 */
@media (max-width: 575px) {
	.l-d-xs-none {
		display: none;
	}
}



/*------------------------------------
  Boxed layout
------------------------------------*/
.g-layout-boxed,
.g-layout-semiboxed {
  background-color: #f7f7f7;
}
.u-outer-space-v1 .g-layout-boxed::after,
.u-outer-space-v2 .g-layout-boxed::after,
.u-outer-space-v1 .g-layout-semiboxed::after,
.u-outer-space-v2 .g-layout-semiboxed::after {
  border-bottom-color: #f7f7f7;
}
.g-layout-boxed main,
.g-layout-semiboxed main {
  position: relative;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  background-color: #fff;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}
@media (min-width: 1200px) {
  .g-layout-boxed main {
    width: 1140px;
  }
}
@media (min-width: 1400px) {
  .g-layout-semiboxed main {
    width: 1340px;
  }
}
@media (min-width: 768px) {
  .u-outer-space-v1 {
    margin: 20px;
  }
}
@media (min-width: 768px) {
  .u-outer-space-v1 body {
    height: calc(100% - 40px);
    min-height: calc(100% - 40px);
  }
}
@media (min-width: 768px) {
  .u-outer-space-v2 {
    margin: 40px;
  }
}
@media (min-width: 768px) {
  .u-outer-space-v2 body {
    height: calc(100% - 80px);
    min-height: calc(100% - 80px);
  }
}



/* some fix  */

/* to not show border to first elem in row */
/*collision between col-sm and col-lg*/
.g-brd-between-cols.col-sm-3:not(.col-lg-4):not(.col-lg-2):not(.col-lg-1):nth-child(4n+1) {
	border: none !important;
}
.g-brd-between-cols.col-sm-4:not(.col-lg-6):not(.col-lg-3):not(.col-lg-2):not(.col-lg-1):nth-child(3n+1) {
	border: none !important;
}
.g-brd-between-cols.col-sm-6:not(.col-lg-4):not(.col-lg-3):not(.col-lg-2):not(.col-lg-1):nth-child(2n+1) {
	border: none !important;
}


.g-brd-between-cols.col-lg-12{
	border: none !important;
}

.g-brd-between-cols.col-lg-6:nth-child(2n+1){
	border: none !important;
}

.g-brd-between-cols.col-lg-4:nth-child(3n+1){
	border: none !important;
}

.g-brd-between-cols.col-lg-3:nth-child(4n+1){
	border: none !important;
}

.g-brd-between-cols.col-lg-2:nth-child(6n+1){
	border: none !important;
}

.g-brd-between-cols.col-lg-1:nth-child(12n+1){
	border: none !important;
}


.custom-text-shadow-1 {
	text-shadow: 2px 4px 3px rgba(0, 0, 0, .3);
}

.custom-text-shadow-2 {
	text-shadow: 2px 2px 3px rgba(255, 255, 255, .1);
}

.custom-text-shadow-3 {
	text-shadow: 6px 6px 0 rgba(0, 0, 0, .2);
}

.custom-text-shadow-4 {
	text-shadow: 4px 3px 0 #fff, 9px 8px 0 rgba(0, 0, 0, .15);
}

.custom-text-shadow-5 {
	text-shadow: 0 3px 0 #b2a98f, 0 14px 10px rgba(0, 0, 0, .15), 0 24px 2px rgba(0, 0, 0, .1), 0 34px 30px rgba(0, 0, 0, .1);
}

.custom-text-shadow-6 {
	text-shadow: 0 4px 3px rgba(0, 0, 0, .4), 0 8px 13px rgba(0, 0, 0, .1), 0 18px 23px rgba(0, 0, 0, .1);
}

.custom-text-shadow-7 {
	text-shadow: 0 1px 0 #ccc,
	0 2px 0 #c9c9c9,
	0 3px 0 #bbb,
	0 4px 0 #b9b9b9,
	0 5px 0 #aaa,
	0 6px 1px rgba(0, 0, 0, .1),
	0 0 5px rgba(0, 0, 0, .1),
	0 1px 3px rgba(0, 0, 0,.3),
	0 3px 5px rgba(0, 0, 0, .2),
	0 5px 10px rgba(0, 0, 0, .25),
	0 10px 10px rgba(0, 0, 0, .2),
	0 20px 20px rgba(0, 0, 0, .15);
}

.custom-text-shadow-8 {
	text-shadow: rgba(255, 255, 255, .5) 0 3px 3px;
}

.custom-text-shadow-9 {
	text-shadow: 0 0 6px rgba(255, 255, 255, .7);
}

.custom-text-shadow-10 {
	text-shadow: 0 15px 5px rgba(0, 0, 0, .1), 10px 20px 5px rgba(0, 0, 0, .05), -10px 20px 5px rgba(0, 0, 0, .05);
}

.custom-text-shadow-11 {
	text-shadow: 2px 8px 6px rgba(0, 0, 0, .2), 0 -5px 35px rgba(255, 255, 255, .3);
}


[style*="line-through"] {
	text-decoration: line-through;
}