

/* Start:/local/templates/.default/components/bitrix/news/matlab_events/bitrix/news.list/.default/style.css?1531382754150*/
div.news-list
{
	word-wrap: break-word;
}
div.news-list img.preview_picture
{
	float:left;
	margin:0 4px 6px 0;
}
.news-date-time {
	color:#486DAA;
}

/* End */
/* /local/templates/.default/components/bitrix/news/matlab_events/bitrix/news.list/.default/style.css?1531382754150 */
