/*
For colors, than white in dark themes and vice versa
Use color from standard H, standard classses
*/
h2.g-theme-dark-color-white, h4.g-theme-dark-color-white {color: #fff !important;}
.g-theme-dark-color-white-opacity-0_7{color: rgba(255, 255, 255, 0.7) !important;}





/* fix for carousel controls */
.u-carousel-indicators-v1 li span{
	width: 7px;
	height: 7px;
	background-color: #777;
}

/*for dark colors must switch active and notactive colors for slider indicators*/
.u-carousel-indicators-v1 li.slick-active span {
	background-color: #fff;
	border: 1px solid #3949a0;
}
.u-carousel-indicators-v1 li span {
	background-color: #3949a0;
}






/* ***********
THEMES CUSTOM COLORS
*********** */


.g-bg-gray-dark-v1 .navbar-nav .nav-item .nav-link {
	color: #fff;
}

.g-bg-gray-dark-v1 .navbar-nav .nav-item .nav-link:hover {
	color: #3949a0;
}

.g-bg-gray-dark-v3 .g-mb-30 {
	color: #999;
}

.landing-block-node-menu-list.navbar-nav .nav-item .nav-link:hover, .landing-block-node-menu-list.navbar-nav .nav-item.active .nav-link {
	color: #3949a0 !important;
}

.g-bg-white .landing-block-node-menu-list.navbar-nav .nav-item .nav-link-color-hover:hover {
	background-color: #3949a0 !important;
}

.g-bg-white .landing-block-node-menu-list.navbar-nav .nav-item.active .nav-link-color-hover {
	background-color: #3949a0 !important;
}

.g-bg-black-opacity-0_3.g-py-7 .landing-block-node-menu-list.navbar-nav .nav-item .nav-link:hover {
	font-weight: normal;
}

.g-bg-black-opacity-0_3.g-py-7 .landing-block-node-menu-list.navbar-nav .nav-item.active .nav-link {
	font-weight: normal;
}

.g-bg-black-opacity-0_7.js-header-change-moment.g-py-7 .landing-block-node-menu-list.navbar-nav .nav-item .nav-link:hover {
	font-weight: normal;
}

.g-bg-black-opacity-0_7.js-header-change-moment.g-py-7 .landing-block-node-menu-list.navbar-nav .nav-item.active .nav-link {
	font-weight: normal;
}

.g-bg-black-opacity-0_7--after .g-mb-90 .landing-block-node-card .landing-block-node-card-text p {
	color: #999 !important;
}

.g-color-primary--hover:hover * {
	color: #3949a0 !important;
}

.u-btn-inset::before {
	border-color: #3949a0 !important;
}



/* B24 BUTTON */
.landing-b24button-use-style .b24-widget-button-popup, .landing-b24button-use-style .b24-widget-button-popup-triangle, .landing-b24button-use-style .b24-widget-button-pulse {
	border-color: #3949a0 !important;
}

.landing-b24button-use-style .b24-widget-button-inner-block, .landing-b24button-use-style .b24-widget-button-inner-mask {
	background-color: #3949a0 !important;
}

.landing-b24button-use-style .b24-widget-button-social-item {
	background-color: #3949a0 !important;
}



.dark-theme.g-bg-white .hamburger-inner, .dark-theme.g-bg-white .hamburger-inner::after, .dark-theme.g-bg-white .hamburger-inner::before {
	background-color: #000;
}

.slick-slider .slick-slide .g-bg-img-hero .landing-block-node-card-price {
	color: #fff !important;
}

/* RESTAURANT */
.u-theme-restaurant-shadow-v1 {
	box-shadow: inset 2px 2px 2px #32408d;
}

/* BUTTON HOVERS */

.u-btn-white:hover {
	border-color: white;
	background-color: white;
}

.u-btn-black:hover {
	border-color: #1a1a1a !important;
	background-color: #1a1a1a !important;
}

.u-btn-darkgray:hover {
	border-color: #4d4d4d !important;
	background-color: #4d4d4d !important;
}

.u-btn-red:hover {
	border-color: #ff3333 !important;
	background-color: #ff3333 !important;
}

.u-btn-lightred:hover {
	border-color: #ec7568 !important;
	background-color: #ec7568 !important;
}

.u-btn-darkred:hover {
	border-color: #d01337 !important;
	background-color: #d01337 !important;
}

.u-btn-blue:hover {
	border-color: #5faee3 !important;
	background-color: #5faee3 !important;
}

.u-btn-indigo:hover {
	border-color: #5b7cbd !important;
	background-color: #5b7cbd !important;
}

.u-btn-purple:hover {
	border-color: #b48fd8 !important;
	background-color: #b48fd8 !important;
}

.u-btn-darkpurple:hover {
	border-color: #8157cb !important;
	background-color: #8157cb !important;
}

.u-btn-pink:hover {
	border-color: #ed4a82 !important;
	background-color: #ed4a82 !important;
}

.u-btn-orange:hover {
	border-color: #ea984e !important;
	background-color: #ea984e !important;
}

.u-btn-deeporange:hover {
	border-color: #fe7b51 !important;
	background-color: #fe7b51 !important;
}

.u-btn-yellow:hover {
	border-color: #efd34c !important;
	background-color: #efd34c !important;
}

.u-btn-aqua:hover {
	border-color: #57dfeb !important;
	background-color: #57dfeb !important;
}

.u-btn-cyan:hover {
	border-color: #0ae4ff !important;
	background-color: #0ae4ff !important;
}

.u-btn-teal:hover {
	border-color: #22e3be !important;
	background-color: #22e3be !important;
}

.u-btn-brown:hover {
	border-color: #b09980 !important;
	background-color: #b09980 !important;
}

.u-btn-bluegray:hover {
	border-color: #6f7885 !important;
	background-color: #6f7885 !important;
}

.u-btn-facebook:hover {
	border-color: #4c70ba !important;
	background-color: #4c70ba !important;
}

.u-btn-twitter:hover {
	border-color: #22c2ff !important;
	background-color: #22c2ff !important;
}